<main class="container">
    <div class="py-5 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-journal-medical"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L9 6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5A.5.5 0 0 1 8 4zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
            <path
                d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
            <path
                d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
        </svg>
        <h2>Actualizar datos de Vacante</h2>
    </div>
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm"
        style="background-color: #6f42c1;">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="38" fill="currentColor" class="bi bi-journal-text"
            viewBox="0 0 16 16">
            <path
                d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
            <path
                d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
            <path
                d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
        </svg>
        <div class="lh-1">
            <h1 class="h4 mb-0 text-white lh-1">Editar Datos</h1>
            {{!-- <small>Since 2011</small> --}}
        </div>
    </div>

    <div class="my-4 p-4 bg-body rounded shadow-sm">
        <h4 class="border-bottom pb-2 mb-0">Llenar todos los campos</h4>
        <form class="row g-3" action="/vacantes/editar/{{vacante.url}}" method="POST">
            <div class="col-md-6">
                <label class="form-label"><strong>Titulo:</strong></label>
                <input type="text" value="{{vacante.titulo}}" class="form-control" name="titulo"
                    placeholder="Ej: React Developer" required>
            </div>
            <div class="col-md-6">
                <label class="form-label"><strong>Empresa:</strong></label>
                <input type="text" value="{{vacante.empresa}}" class="form-control" name="empresa"
                    placeholder="Empresa contrata" required>
            </div>
            <div class="col-md-6">
                <label class="form-label"><strong>Ubicacion:</strong></label>
                <input type="text" value="{{vacante.ubicacion}}" class="form-control" name="ubicacion"
                    placeholder="Ej: Ecuador" required>
            </div>
            <div class="col-md-2">
                <label class="form-label"><strong>Salario (USD):</strong></label>
                <input type="text" value="{{vacante.salario}}" class="form-control" name="salario"
                    placeholder="Ej: $500 USD" required>
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label"><strong>Contrato:</strong></label>
                <select name="contrato" class="form-control">
                    {{#tipoContrato vacante.contrato}}
                    <option value="" disabled selected>-- Selecciona --</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Tiempo Completo">Tiempo Completo</option>
                    <option value="Medio Tiempo">Medio Tiempo</option>
                    <option value="Por Proyecto">Por Proyecto</option>
                    {{/tipoContrato}}
                </select>
            </div>
            <br>
            <br>
            <div class="col-12" style="margin-top: 10px;">
                <h6 class="border-bottom pb-2 mb-0">Descripcion del Puesto:</h6>
            </div>
            <div class="col-12">
                <label for="inputState" class="form-label"></label>
                <input type="hidden" id="x" value="{{{vacante.descripcion}}}" name="descripcion">
                <trix-editor input="x"></trix-editor>
            </div>
            <div class="col-12">
                <label class="form-label">Lista de Conocimiento:</label>
                <ul class="lista-conocimientos">
                    {{#seleccionarSkills vacante.skills}}
                    {{/seleccionarSkills}}
                </ul>
            </div>
            <div class="col-12" style="margin-top: 0px;top: 15px;">
                <input type="hidden" name="skills" id="skills">
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
        </form>
    </div>
</main>

{{>footer}}